// Add your own custom CSS here.
@import "pygments-tomorrow";
@import "embed";
@import "bootstrap-callout";

.post-content img,
.post-excerpt-home img,
.post-nav img {
  @extend .img-rounded;
}
.post-content table,
.post-excerpt-home table,
.post-nav table {
  @extend .table;
  @extend .table-bordered;
}

.mermaid {
  margin-bottom: $line-height-computed/2;
  max-width: 100%;
}

.panel-body {
  ul, ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
